{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="container max-w-5xl mx-auto px-3">
    <h1 class="p-5 border-b text-center text-xl font-bold border-black">Profil</h1>

    <a class="btn-primary" href="{{path('create_article')}}">Ajouter un article</a>
</div>

{% endblock %}
